
/Glimpse.Mashups.ncrunchsolution
/Glimpse.Mashups.ncrunchsolution.user
/Glimpse.Mashups.sln.DotSettings.user
/Glimpse.Mashups/obj
/Glimpse.Mashups/bin
/Glimpse.Mashups.Core/obj
/Glimpse.Mashups.Core/bin
/Glimpse.Mashups/Glimpse.Mashups.csproj.user