<!doctype html>
<html>
    
    <head>
        
        <title>Glimpse.Mashups</title>
        <link type="text/css" rel="Stylesheet" href="~/Content/Style.css" />

    </head>

    <body>
        
        <h1>Glimpse.Mashups</h1>
        <ul>
            <li><a href="@Url.Action("Contributors", "Home")">Contributors</a></li>
        </ul>
        
        @RenderBody()

    </body>

</html>